<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es" class="dark">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>Konta</title>
   <meta name="description" content="Konta" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   {if="file_exists('images/favicon.ico')"}
   <link rel="shortcut icon" href="{#JG_PATH#}images/favicon.ico" />
   {else}
   <link rel="shortcut icon" href="{#JG_PATH#}view/img/favicon.ico" />
   {/if}
   <!--Cargo CSS-->
   <link rel="stylesheet" href="{#JG_PATH#}view/css/lib/simplebar.css" />
   <link rel="stylesheet" href="{#JG_PATH#}view/css/lib/perfect-scrollbar.css" />
   <link rel="stylesheet" href="{#JG_PATH#}view/css/lib/metisMenu.min.css" />
   <link rel="stylesheet" href="{#JG_PATH#}view/css/lib/bootstrap.min.css" />
   <link rel="stylesheet" href="{#JG_PATH#}view/css/lib/bootstrap-extended.css" />
   <link rel="stylesheet" href="{#JG_PATH#}view/css/lib/style.css" />
   <link rel="stylesheet" href="{#JG_PATH#}view/css/lib/icons.css" />
   <link rel="stylesheet" href="{#JG_PATH#}view/css/lib/pace.min.css" />
   <!--Temas-->
   <link rel="stylesheet" href="{#JG_PATH#}view/css/lib/dark-theme.css" />
   <link rel="stylesheet" href="{#JG_PATH#}view/css/lib/light-theme.css" />
   <link rel="stylesheet" href="{#JG_PATH#}view/css/lib/semi-dark.css" />
   <link rel="stylesheet" href="{#JG_PATH#}view/css/lib/header-colors.css" />

   <!--Cargas de Internet-->
   <!--link href="https://fonts.googleapis.com/css/lib2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"-->
   <link rel="stylesheet" href="{#JG_PATH#}view/css/lib/bootstrap-icons.css" />

   <!--Cargo JS-->
   <script src="{#JG_PATH#}view/js/lib/bootstrap.bundle.min.js"></script>
   <script src="{#JG_PATH#}view/js/lib/jquery.min.js"></script>
   <script src="{#JG_PATH#}view/js/lib/pace.min.js"></script>
   <script src="{#JG_PATH#}view/js/lib/simplebar.min.js"></script>
   <script src="{#JG_PATH#}view/js/lib/metisMenu.min.js"></script>
   <script src="{#JG_PATH#}view/js/lib/perfect-scrollbar.js"></script>

   <script type="text/javascript">
      $(document).ready(function () {
         { if= "$gsc->get_errors()"}
         $("#box_login").shake();
         {/if }
         document.f_login.user.focus();
      });
      function ver_password() {
         let cambio = document.getElementById('password');
         if (cambio.type == "password") {
            cambio.type = "text";
            $('#icon1').removeClass('bi bi-lock-fill').addClass('bi bi-unlock-fill');
         } else {
            cambio.type = "password";
            $('#icon1').removeClass('bi bi-unlock-fill').addClass('bi bi-lock-fill');
         }
      }
   </script>
</head>

<body class="pace-done">
   <div class="pace pace-inactive">
      <div class="pace-progress" data-progress-text="100%" data-progress="99"
         style="transform: translate3d(100%, 0px, 0px);">
         <div class="pace-progress-inner"></div>
      </div>
      <div class="pace-activity"></div>
   </div>
   <div class="wrapper">
      <header class="top-header">
         {if="$gsc->get_errors()"}
         <div
            class="alert border-0 border-danger border-start border-4 bg-light-danger alert-dismissible fade show py-2">
            <div class="d-flex align-items-center">
               <div class="fs-3 text-danger"><i class="bi bi-check-circle-fill"></i>
               </div>
               <div class="ms-3">
                  <div class="text-danger">
                     <ul>{loop="$gsc->get_errors()"}<li>{$value}</li>{/loop}</ul>
                  </div>
               </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
         {/if}
         {if="$gsc->get_messages()"}
         <div
            class="alert border-0 border-success border-start border-4 bg-light-success alert-dismissible fade show py-2">
            <div class="d-flex align-items-center">
               <div class="fs-3 text-success"><i class="bi bi-check-circle-fill"></i>
               </div>
               <div class="ms-3">
                  <div class="text-success">
                     <ul>{loop="$gsc->get_messages()"}<li>{$value}</li>{/loop}</ul>
                  </div>
               </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
         {/if}
         {if="$gsc->get_advices()"}
         <div class="alert border-0 border-info border-start border-4 bg-light-info alert-dismissible fade show py-2">
            <div class="d-flex align-items-center">
               <div class="fs-3 text-info"><i class="bi bi-check-circle-fill"></i>
               </div>
               <div class="ms-3">
                  <div class="text-info">
                     <ul>{loop="$gsc->get_advices()"}<li>{$value}</li>{/loop}</ul>
                  </div>
               </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
         {/if}
      </header>
      <main class="authentication-content">
         <div class="container-fluid">
            <div class="authentication-card">
               <div class="card shadow rounded-0 overflow-hidden">
                  <div class="row g-0">
                     <div class="col-lg-6 bg-login d-flex align-items-center justify-content-center">
                        {if="file_exists(JG_MYDOCS.'images/logo.png')"}
                        <img src="images/logo.png" alt="{$gsc->empresa->nombre}" class="img-fluid">
                        {elseif="file_exists(JG_MYDOCS.'images/logo.jpg')"}
                        <img src="images/logo.jpg" alt="{$gsc->empresa->nombre}" class="img-fluid">
                        {else}
                        <img src="{#JG_PATH#}view/img/logo.png" alt="logo" class="img-fluid">
                        {/if}
                     </div>
                     <div class="col-lg-6">
                        <div class="card-body p-4 p-sm-5">
                           <h5 class="card-title">Iniciar sesión</h5>
                           <p class="card-text mb-5">Ingresa tu usuario y contraseña para acceder al sistema.</p>
                           <form name="f_login" action="index.php?nlogin={$nlogin}" method="post" class="form-body"
                              role="form">
                              <div class="row g-3">
                                 <div class="col-12">
                                    <label for="usuario" class="col-form-label">Usuario</label>
                                    <div class="ms-auto position-relative">
                                       <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i
                                             class="bi bi-person-circle"></i></div>
                                       <input type="text" class="form-control radius-30 ps-5" id="usuario" name="user"
                                          required placeholder="Usuario">
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <label for="password" class="col-form-label">Contraseña</label>
                                    <div class="ms-auto position-relative">
                                       <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i
                                             id="icon1" onclick="ver_password()" class="bi bi-lock-fill"></i></div>
                                       <input name="password" type="password" class="form-control radius-30 ps-5"
                                          minlength="5" maxlength="32" required="" id="password"
                                          placeholder="Contraseña">
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <div class="d-grid">
                                       <button type="submit" class="btn btn-primary radius-30">Iniciar sesión</button>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
   </div>
</body>

</html>