{include="header"}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    <span class="bi bi-exclamation-triangle-fill"></span>
                    Acceso denegado
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <ul>
                <li>No tienes permiso para acceder a esta página, puedes regresar con el menú de sistema.!</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src='{#JG_PATH#}view/img/big_lock.png' alt="Acceso denegado"/>
            </div>
        </div>
    </div>
</div>

{include="footer"}