{include="header"}
   <script type="text/javascript">
      let url = "{$gsc->url()}";
   </script>
   <script src="{#JG_PATH#}view/js/ventas/informes_guias.js"></script>
   <div class='container-fluid'>
      <div class="row">
         <div class="col-sm-6">
            <div class="btn-group">
               <a class="btn btn-sm btn-dark" href="{$gsc->url()}" title="recargar la página">
                  <span class="bi bi-bootstrap-reboot"></span>
               </a>
               {if="$gsc->page->is_default()"}
                  <a class="btn btn-sm btn-outline-info" href="{$gsc->url()}&amp;default_page=FALSE" title="Desmarcar como página de inicio.">
                     <i class="bi bi-house-fill" aria-hidden="true"></i>
                  </a>
               {else}
                  <a class="btn btn-sm btn-outline-info" href="{$gsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio.">
                     <i class="bi bi-house" aria-hidden="true"></i>
                  </a>
               {/if}
            </div>
         </div>
         <div class="col-sm-6 col-xs-5" style="text-align: right;">
            <h2 style="margin-top: 0px;">
               <i class="bi bi-truck" aria-hidden="true"></i>
               Informes de Guías
            </h2>
         </div>
      </div>
      <div class="row"><br></div>
      <div class="row"><hr></div>
      <div class="row"><br></div>
      <div class="row">
         <div class="col-sm-12">
            <form target="_blank" name="f_inf_guias" action="{$gsc->page->url()}" method="post" class="form" role="form">
               <input type="hidden" name="inf_guias" value="totalizado">
               <div class="card">
                  <div class="card-header bg-info text-white">
                     <h5><center><b>Informe de Guías de Remisión</b></center></h5>
                  </div>
                  <div class="card-body">
                     <div class="row">
                        <div class="col-sm-2">
                           <label for="fec_desde" class="col-form-label">Fecha Desde:</label>
                           <input type="date" class="form-control form-control-sm" id="fec_desde" name="fec_desde">
                        </div>
                        <div class="col-sm-2">
                           <label for="fec_hasta" class="col-form-label">Fecha Hasta:</label>
                           <input type="date" class="form-control form-control-sm" id="fec_hasta" name="fec_hasta">
                        </div>
                        <div class="col-sm-4">
                           <label for="idestablecimiento" class="col-form-label">Establecimiento:</label>
                           <select id="idestablecimiento" name="idestablecimiento" class="form-select form-select-sm">
                                 <option value="" selected>Seleccione</option>
                              {loop="$gsc->establecimiento->get_by_idempresa($gsc->empresa->idempresa)"}
                                 <option value="{$value->idestablecimiento}">{$value->nombre}</option>
                              {/loop}
                           </select>
                        </div>
                        <div class="col-sm-4">
                           <label for="tipo_guia" class="col-form-label">Tipo Guia:</label>
                           <select id="tipo_guia" name="tipo_guia" class="form-select form-select-sm">
                              <option value="" selected>Todas</option>
                              <option value="1">Facturada</option>
                              <option value="2">Al Cobro</option>
                           </select>
                        </div>
                        
                     </div>
                     <div class="row">
                        <div class="col-sm-9">
                           <label for="idcliente1" class="col-form-label">Cliente:</label>
                           <select id="idcliente1" name="idproveedor" class="form-select form-select-sm">
                           </select>
                        </div>
                        <div class="col-sm-3">
                           <label for="formato" class="col-form-label">Formato:</label>
                           <select id="formato" name="formato" class="form-select form-select-sm">
                              <option value="pdf" selected>PDF</option>
                              <option value="xls">EXCEL</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="card-footer">
                     <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-sm btn btn-outline-primary" type="submit">Generar</button>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <!--div class="col-sm-4">
            <form target="_blank" name="f_infdet_compras" action="{$gsc->page->url()}" method="post" class="form" role="form">
               <input type="hidden" name="inf_guias" value="desglosado">
               <div class="card">
                  <div class="card-header bg-info text-white">
                     <h5><center><b>Informe Detallado de Compras</b></center></h5>
                  </div>
                  <div class="card-body">
                     <div class="col-sm-12">
                        <label for="fec_desde" class="col-form-label">Fecha Desde:</label>
                        <input type="date" class="form-control form-control-sm" id="fec_desde" name="fec_desde">
                     </div>
                     <div class="col-sm-12">
                        <label for="fec_hasta" class="col-form-label">Fecha Hasta:</label>
                        <input type="date" class="form-control form-control-sm" id="fec_hasta" name="fec_hasta">
                     </div>
                     <div class="col-sm-12">
                        <label for="idestablecimiento" class="col-form-label">Establecimiento:</label>
                        <select id="idestablecimiento" name="idestablecimiento" class="form-select form-select-sm">
                              <option value="" selected>Seleccione</option>
                           {loop="$gsc->establecimiento->get_by_idempresa($gsc->empresa->idempresa)"}
                              <option value="{$value->idestablecimiento}">{$value->nombre}</option>
                           {/loop}
                        </select>
                     </div>
                     <div class="col-sm-12">
                        <label for="idproveedor2" class="col-form-label">Proveedor:</label>
                        <select id="idproveedor2" name="idproveedor" class="form-select form-select-sm">
                        </select>
                     </div>
                     <div class="col-sm-12">
                        <label for="iddocumento" class="col-form-label">Tipo Documento:</label>
                        <select id="iddocumento" name="iddocumento" class="form-select select2 select2-sm">
                              <option value="" selected>Seleccione</option>
                           {loop="$gsc->documentos->all()"}
                              <option value="{$value->iddocumento}">{$value->nombre}</option>
                           {/loop}
                        </select>
                     </div>
                     <div class="col-sm-12">
                        <label for="tipodet" class="col-form-label">Detalle:</label>
                        <select id="tipodet" name="tipodet" class="form-select form-select-sm">
                           <option value="" selected>Todo</option>
                           <option value="art">Articulos</option>
                           <option value="ser">Servicios</option>
                        </select>
                     </div>
                     <div class="col-sm-12">
                        <label for="formato" class="col-form-label">Formato:</label>
                        <select id="formato" name="formato" class="form-select form-select-sm">
                           <option value="pdf" selected>PDF</option>
                           <option value="xls">EXCEL</option>
                        </select>
                     </div>
                  </div>
                  <div class="card-footer">
                     <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-sm btn btn-outline-primary" type="submit">Generar</button>
                     </div>
                  </div>
               </div>
            </form>
         </div-->
      </div>
   </div>
{include="footer"}