{include="header"}
   <script type="text/javascript">
      $(document).ready(function() {
         $("#b_nuevo_sustento").click(function(event) {
            event.preventDefault();
            $("#modal_nuevo_sustento").modal('show');
            document.f_nuevo_sustento.nombre.focus();
         });
      });
      function delete_sustento(idsustento, nombre){
         event.preventDefault();
         bootbox.confirm({
            message: '¿Realmente desea eliminar el Sustento '+nombre+'?',
            title: '<b>Atención</b>',
            callback: function(result) {
               if (result) {
                  window.location.href = '{$gsc->url()}&delete='+idsustento;
               }
            }
         });
      }
   </script>
   <div class='container-fluid'>
      <div class="row">
         <div class="col-sm-6">
            <div class="btn-group">
               <a class="btn btn-sm btn-dark" href="{$gsc->url()}" title="recargar la página">
                  <span class="bi bi-bootstrap-reboot"></span>
               </a>
               {if="$gsc->page->is_default()"}
                  <a class="btn btn-sm btn-outline-info" href="{$gsc->url()}&amp;default_page=FALSE" title="Desmarcar como página de inicio.">
                     <i class="bi bi-house-fill" aria-hidden="true"></i>
                  </a>
               {else}
                  <a class="btn btn-sm btn-outline-info" href="{$gsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio.">
                     <i class="bi bi-house" aria-hidden="true"></i>
                  </a>
               {/if}
               <a class="btn btn-sm btn-success" href="#" id="b_nuevo_sustento">
                  <span class="bi bi-person-plus-fill"></span>
                  <span class="d-none d-sm-block">&nbsp; Nuevo</span>
               </a>
            </div>
         </div>
         <div class="col-sm-6 col-xs-5" style="text-align: right;">
            <h2 style="margin-top: 0px;">
               <i class="bi bi-filetype-doc" aria-hidden="true"></i>
               Sustentos
            </h2>
         </div>
      </div>
      <div class="row"><hr></div>
      <div class="row"><br></div>
      <div class="row">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Nombre</th>
                     <th>Codigo</th>
                     <th>Documentos</th>
                     <th>Acciones</th>
                  </tr>
               </thead>
               <tbody>
                  {loop="$gsc->resultados"}
                     <form name="f_sustentos" action="{$gsc->page->url()}" method="post" class="form" role="form">
                        <input type="hidden" name="idsustento" value="{$value->idsustento}">
                        <tr>
                           <td><input class="form-control form-control-sm" type="text" name="nombre" value="{$value->nombre}"></td>
                           <td><input class="form-control form-control-sm" type="text" name="codigo" value="{$value->codigo}"></td>
                           <td>
                              <select class="form-select form-select-sm select2" name="documentos[]" multiple="multiple" required>
                                 {loop="$gsc->documentos->all()"}
                                    <option value="{$value->iddocumento}" {if="$value1->marcar_documento($value2->iddocumento)"}selected{/if}>{$value->codigo} - {$value->nombre}</option>
                                 {/loop}
                              </select>
                           </td>
                           <td>
                              <div class="btn-group">
                                 <button class="btn btn-sm btn-primary" type="submit">
                                    <span class="bi bi-save2"></span>
                                 </button>
                                 <button class="btn btn-sm btn-danger" type="button" onclick="delete_sustento('{$value->idsustento}', '{$value->nombre}')" style="">
                                    <span class="bi bi-trash3"></span>
                                 </button>
                              </div>
                           </td>
                        </tr>
                     </form>
                  {else}
                     <tr class="table-warning">
                        <td colspan="3">Sin Resultados.!</td>
                     </tr>
                  {/loop}
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="modal" id="modal_nuevo_sustento">
      <div class="modal-dialog modal-lg modal-dialog-centered">
         <div class="modal-content">
            <form name="f_nuevo_sustento" class="form" role="form" action="{$gsc->url()}" method="post">
               <div class="modal-header">
                  <h5 class="modal-title"><i class="bi bi-filetype-doc" aria-hidden="true"></i>&nbsp; Crear Sustento</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <div class="row">
                     <div class="col-sm-7">
                        <label for="nombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" placeholder="Nombre" required>
                     </div>
                     <div class="col-sm-5">
                        <label for="codigo" class="col-form-label">Código:</label>
                        <input type="text" class="form-control form-control-sm" id="codigo" name="codigo" placeholder="Código" minlength="1" maxlength="10" required>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <label for="codigo" class="col-form-label">Documentos:</label>
                        <select class="form-select form-select-sm select2" name="documentos[]" multiple="multiple" required>
                           {loop="$gsc->documentos->all()"}
                              <option value="{$value->iddocumento}">{$value->codigo} - {$value->nombre}</option>
                           {/loop}
                        </select>
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                     <span class="bi bi-x-circle-fill"></span>&nbsp; Cerrar
                  </button>
                  <button class="btn btn-sm btn-primary" type="submit">
                     <span class="bi bi-save2"></span>&nbsp; Guardar
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
{include="footer"}