{include="header"}
   <script type="text/javascript">
      let url = "{$gsc->url()}";
      let activo_nt = 0;
      {if="complemento_exists('notasdeventa')"}
         activo_nt = 1;
      {/if}
      let activo_cont = 0;
      {if="complemento_exists('contabilidad')"}
         activo_cont = 1;
      {/if}
   </script>
   <script src="{#JG_PATH#}view/js/lista_impuestos.js?v=1"></script>
   <div class='container-fluid'>
      <div class="row">
         <div class="col-sm-6">
            <div class="btn-group">
               <a class="btn btn-sm btn-dark" href="{$gsc->url()}" title="recargar la página">
                  <span class="bi bi-bootstrap-reboot"></span>
               </a>
               {if="$gsc->page->is_default()"}
                  <a class="btn btn-sm btn-outline-info" href="{$gsc->url()}&amp;default_page=FALSE" title="Desmarcar como página de inicio.">
                     <i class="bi bi-house-fill" aria-hidden="true"></i>
                  </a>
               {else}
                  <a class="btn btn-sm btn-outline-info" href="{$gsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio.">
                     <i class="bi bi-house" aria-hidden="true"></i>
                  </a>
               {/if}
               {if="$gsc->allow_modify"}
                  <a class="btn btn-sm btn-success" href="#" id="b_nuevo_impuesto">
                     <span class="bi bi-person-plus-fill"></span>
                     <span class="d-none d-sm-block">&nbsp; Nuevo</span>
                  </a>
               {/if}
            </div>
         </div>
         <div class="col-sm-6 col-xs-5" style="text-align: right;">
            <h2 style="margin-top: 0px;">
               <i class="bi bi-percent" aria-hidden="true"></i>
               Impuestos
            </h2>
         </div>
      </div>
      <div class="row"><hr></div>
      <div class="row"><br></div>
      <div class="row">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Nombre</th>
                     <th>Codigo</th>
                     <th>Porcentaje</th>
                     <th>Acciones</th>
                  </tr>
               </thead>
               <tbody>
                  {loop="$gsc->resultados"}
                     <form name="f_impuestos" action="{$gsc->page->url()}" method="post" class="form" role="form">
                        <input type="hidden" name="idimpuesto" value="{$value->idimpuesto}">
                        <tr>
                           <td><input class="form-control form-control-sm" type="text" name="nombre" value="{$value->nombre}"></td>
                           <td><input class="form-control form-control-sm" type="text" name="codigo" value="{$value->codigo}"></td>
                           <td><input class="form-control form-control-sm" type="text" name="porcentaje" value="{$value->porcentaje}"></td>
                           <td>
                              <div class="btn-group">
                                 {if="$gsc->allow_modify"}
                                 <button class="btn btn-sm btn-primary" type="submit">
                                    <span class="bi bi-save2"></span>
                                 </button>
                                 {/if}
                                 {if="$gsc->allow_delete"}
                                    <button class="btn btn-sm btn-danger" type="button" onclick="delete_impuesto('{$value->idimpuesto}', '{$value->nombre}')" style="">
                                       <span class="bi bi-trash3"></span>
                                    </button>
                                 {/if}
                                 {if="complemento_exists('contabilidad') && $value->porcentaje > 0"}
                                    <a class="btn btn-sm btn-info" onclick="config_cuentas('{$value->idimpuesto}', '{$value->nombre}')" href="#" title="Configuracion Contable">
                                       <span class="bi bi-gear-fill"></span>
                                    </a>
                                 {/if}
                              </div>
                           </td>
                        </tr>
                     </form>
                  {else}
                     <tr class="table-warning">
                        <td colspan="4">Sin Resultados.!</td>
                     </tr>
                  {/loop}
               </tbody>
            </table>
         </div>
      </div>
   </div>
   {if="complemento_exists('contabilidad')"}
      <div class="modal" id="modal_config_contabilidad">
         <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
               <form name="f_config_impuestos" id="f_config_impuestos" class="form" action="{$gsc->url()}" method="post">
                  <input type="hidden" name="idimpuesto_config" id="idimpuesto_config">
                  <div class="modal-header">
                     <h5 class="modal-title"><i class="bi bi-gear-fill" aria-hidden="true"></i>&nbsp; Configuracion Contable <span class="badge bg-secondary" id="nomimp"></span></h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <div class="row">
                        <div class="form-group">
                           <label for="idejercicio" class="col-form-label">Ejercicio:</label>
                           <select id="idejercicio" name="idejercicio" class="form-select" onchange="buscar_config()" required>
                              <option value="" selected>Seleccione</option>
                              {loop="$gsc->ejercicios->all_by_idempresa($gsc->idempresa)"}
                                 <option value="{$value->idejercicio}">{$value->nombre}</option>
                              {/loop}
                           </select>
                        </div>
                     </div>
                     <div class="row"><br></div>
                     <div class="row">
                        <div class="table-responsive">
                           <table class="table table-hover">
                              <thead>
                                 <tr>
                                    <th class="text-center" width="30%">Nombre</th>
                                    <th class="text-center">Cuenta</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td class="text-end">IVA en Compras</td>
                                    <td>
                                       <select id="idsubcivacompras" name="idsubcivacompras" class="form-select form-select-sm" required disabled style="width: 100%"></select>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="text-end">IVA en Ventas</td>
                                    <td>
                                       <select id="idsubcivaventas" name="idsubcivaventas" class="form-select form-select-sm" required disabled style="width: 100%"></select>
                                    </td>
                                 </tr>
                                 {if="complemento_exists('notasdeventa')"}
                                    <tr>
                                       <td class="text-end">IVA en Notas de Venta</td>
                                       <td>
                                          <select id="idsubcivanotasventa" name="idsubcivanotasventa" class="form-select form-select-sm" required disabled style="width: 100%"></select>
                                       </td>
                                    </tr>
                                 {/if}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                        <span class="bi bi-x-circle-fill"></span>&nbsp; Cerrar
                     </button>
                     <button class="btn btn-sm btn-primary" type="submit" id="btn_save_conf" disabled>
                        <span class="bi bi-save2"></span>&nbsp; Guardar
                     </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   {/if}
   <div class="modal" id="modal_nuevo_impuesto">
      <div class="modal-dialog modal-lg modal-dialog-centered">
         <div class="modal-content">
            <form name="f_nuevo_impuesto" class="form" role="form" action="{$gsc->url()}" method="post">
               <div class="modal-header">
                  <h5 class="modal-title"><i class="bi bi-percent" aria-hidden="true"></i>&nbsp; Crear Impuesto</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <div class="row">
                     <div class="col-sm-5">
                        <label for="nombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" placeholder="Nombre" maxlength="100" required>
                     </div>
                     <div class="col-sm-4">
                        <label for="codigo" class="col-form-label">Código:</label>
                        <input type="text" class="form-control form-control-sm" id="codigo" name="codigo" placeholder="Código" minlength="1" maxlength="10" required>
                     </div>
                     <div class="col-sm-3">
                        <label for="porcentaje" class="col-form-label">Porcentaje:</label>
                        <input type="number" class="form-control form-control-sm" id="porcentaje" name="porcentaje" placeholder="Porcentaje" required>
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                     <span class="bi bi-x-circle-fill"></span>&nbsp; Cerrar
                  </button>
                  <button class="btn btn-sm btn-primary" type="submit">
                     <span class="bi bi-save2"></span>&nbsp; Guardar
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
{include="footer"}