{include="header"}
<script type="text/javascript">
    let url = "{$gsc->url()}";

    function guadar_parametrizacion(codigo, span)
    {
    	let valor = $("#"+codigo).val();
    	$.ajax({
      		url: url,
      		type: "POST",
      		data: { codigop: codigo , valorp: valor},
      		beforeSend: function() {
		        $("#"+span).addClass('bg-warning');
		        $("#"+span).html('Guardando....');
		    },
      		success: function(data){
         		let datos = JSON.parse(data);
         		if (datos.error == 'T') {
            		$("#"+span).removeClass('bg-warning');
		        	$("#"+span).html('');
            		alert(datos.msj);
         		} else {
            		$("#"+span).removeClass('bg-warning');
         			$("#"+span).addClass('bg-success');
		        	$("#"+span).html('Guardado');
         		}
      		},
      		error: function(){
          		alert("Error al intentar guardar la Parametrización.");
      		}
   		});
    }
</script>
<div class='container-fluid'>
	<div class="row">
        <div class="col-sm-6">
        	<div class="btn-group">
            	<a class="btn btn-sm btn-dark" href="{$gsc->url()}" title="recargar la página">
                	<span class="bi bi-bootstrap-reboot"></span>
               	</a>
               	{if="$gsc->page->is_default()"}
                  	<a class="btn btn-sm btn-outline-info" href="{$gsc->url()}&amp;default_page=FALSE" title="Desmarcar como página de inicio.">
                     	<i class="bi bi-house-fill" aria-hidden="true"></i>
                  	</a>
               	{else}
                  	<a class="btn btn-sm btn-outline-info" href="{$gsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio.">
                     	<i class="bi bi-house" aria-hidden="true"></i>
                  	</a>
               	{/if}
            </div>
        </div>
        <div class="col-sm-6 col-xs-5" style="text-align: right;">
        	<h2 style="margin-top: 0px;">
            	<i class="bi bi-gear" aria-hidden="true"></i>
            	Parametrizaciones Empresa
        	</h2>
        </div>
    </div>
    <div class="row"><br></div>
    <div class="row"><hr></div>
    <div class="row"><br></div>
    <div class="row">
    	<div class="row">
	    	<div class="col-sm-12 text-center">
	          	<h2>
	             	<i class="bi bi-file-earmark-pdf" aria-hidden="true"></i>
	             	Logo Documentos Electronicos
	          	</h2>
	       	</div>
	    </div>
	    <div class="row">
	    	<div class="col-sm-3">
              	<div class="form-group">
                 	<label for="posxlogo" class="col-form-label">Posicion en X: <span class="badge" id="posxlogos"></span></label>
                 	<div class="input-group">
                    	<input class="form-control form-control-sm" type="text" name="posxlogo" id="posxlogo" value="{$gsc->getValor('posxlogo')}" autocomplete="off" placeholder="Posicion en X"/>
                    	<button class="btn btn-success btn-sm" onclick="guadar_parametrizacion('posxlogo', 'posxlogos')" type="button" id="posxlogo"><i class="bi bi-check2-square"></i></button>
                 	</div>
              	</div>
           	</div>
           	<div class="col-sm-3">
              	<div class="form-group">
                 	<label for="posylogo" class="col-form-label">Posicion en Y: <span class="badge" id="posylogos"></span></label>
                 	<div class="input-group">
                    	<input class="form-control form-control-sm" type="text" name="posylogo" id="posylogo" value="{$gsc->getValor('posylogo')}" autocomplete="off" placeholder="Posicion en X"/>
                    	<button class="btn btn-success btn-sm" onclick="guadar_parametrizacion('posylogo', 'posylogos')" type="button" id="posylogo"><i class="bi bi-check2-square"></i></button>
                 	</div>
              	</div>
           	</div>
           	<div class="col-sm-3">
              	<div class="form-group">
                 	<label for="anchologo" class="col-form-label">Ancho: <span class="badge" id="anchologos"></span></label>
                 	<div class="input-group">
                    	<input class="form-control form-control-sm" type="text" name="anchologo" id="anchologo" value="{$gsc->getValor('anchologo')}" autocomplete="off" placeholder="Ancho Logo"/>
                    	<button class="btn btn-success btn-sm" onclick="guadar_parametrizacion('anchologo', 'anchologos')" type="button" id="anchologo"><i class="bi bi-check2-square"></i></button>
                 	</div>
              	</div>
           	</div>
           	<div class="col-sm-3">
              	<div class="form-group">
                 	<label for="altologo" class="col-form-label">Alto: <span class="badge" id="altologos"></span></label>
                 	<div class="input-group">
                    	<input class="form-control form-control-sm" type="text" name="altologo" id="altologo" value="{$gsc->getValor('altologo')}" autocomplete="off" placeholder="Alto Logo"/>
                    	<button class="btn btn-success btn-sm" onclick="guadar_parametrizacion('altologo', 'altologos')" type="button" id="altologo"><i class="bi bi-check2-square"></i></button>
                 	</div>
              	</div>
           	</div>
	    </div>
    </div>
    <div class="row"><br></div>
    <div class="row"><hr></div>
    <div class="row">
    	<div class="row">
	    	<div class="col-sm-12 text-center">
	          	<h2>
	             	<i class="bi bi-ticket-detailed" aria-hidden="true"></i>
	             	Configuracion Ticket:
	          	</h2>
	       	</div>
	    </div>
	    <div class="row">
	    	<div class="col-sm-3">
              	<div class="form-group">
                 	<label for="sizetit" class="col-form-label">Tamaño Letra Título: <span class="badge" id="sizetits"></span></label>
                 	<div class="input-group">
                    	<input class="form-control form-control-sm" type="text" name="sizetit" id="sizetit" value="{$gsc->getValor('sizetit')}" autocomplete="off" placeholder="Tamaño Letra Titulo por Defecto 25"/>
                    	<button class="btn btn-success btn-sm" onclick="guadar_parametrizacion('sizetit', 'sizetits')" type="button" id="sizetit"><i class="bi bi-check2-square"></i></button>
                 	</div>
              	</div>
           	</div>
           	<div class="col-sm-3">
              	<div class="form-group">
                 	<label for="sizeticket" class="col-form-label">Tamaño Letra Ticket: <span class="badge" id="sizetickets"></span></label>
                 	<div class="input-group">
                    	<input class="form-control form-control-sm" type="text" name="sizeticket" id="sizeticket" value="{$gsc->getValor('sizeticket')}" autocomplete="off" placeholder="Tamaño Letra Ticket por Defecto 12"/>
                    	<button class="btn btn-success btn-sm" onclick="guadar_parametrizacion('sizeticket', 'sizetickets')" type="button" id="sizeticket"><i class="bi bi-check2-square"></i></button>
                 	</div>
              	</div>
           	</div>
        </div>
    </div>
    <div class="row"><br></div>
    <div class="row"><hr></div>
    <div class="row">
    	<div class="row">
	    	<div class="col-sm-12 text-center">
	          	<h2>
	             	<i class="bi bi-file-earmark-pdf" aria-hidden="true"></i>
	             	Inventarios:
	          	</h2>
	       	</div>
	    </div>
	    <div class="row">
	    	{if="complemento_exists('facturador') && $gsc->empresa->plan_basico"}
            {else}
		    	<div class="col-sm-3">
	              	<div class="form-group">
	                 	<label for="costoinv" class="col-form-label">Manejo de Costos: <span class="badge" id="costoinvs"></span></label>
	                 	<div class="input-group">
	                 		<select class="form-control form-control-sm" name="costoinv" id="costoinv">
	                 			{if="$gsc->getValor('costoinv') != ''"}
	                 				<option value="ultimocosto"  {if="$gsc->getValor('costoinv') == 'ultimocosto'"}selected{/if}>Ultimo Costo</option>
	                 				<option value="costopromedio" {if="$gsc->getValor('costoinv') == 'costopromedio'"}selected{/if}>Costo Promedio Ponderado</option>
	                 			{else}
	                 				<option value="ultimocosto">Ultimo Costo</option>
	                 				<option value="costopromedio" selected>Costo Promedio Ponderado</option>
	                 			{/if}
	                 		</select>
	                    	<button class="btn btn-success btn-sm" onclick="guadar_parametrizacion('costoinv', 'costoinvs')" type="button" id="costoinv"><i class="bi bi-check2-square"></i></button>
	                 	</div>
	              	</div>
	           	</div>
	        {/if}
        </div>
    </div>
    {if="complemento_exists('puntodeventa')"}
    	<div class="row"><br></div>
	    <div class="row"><hr></div>
	    <div class="row">
	    	<div class="row">
		    	<div class="col-sm-12 text-center">
		          	<h2>
		             	<i class="bi bi-file-earmark-pdf" aria-hidden="true"></i>
		             	Punto de Venta:
		          	</h2>
		       	</div>
		    </div>
		    <div class="row">
		    	<div class="col-sm-3">
	              	<div class="form-group">
	                 	<label for="modtotal" class="col-form-label">Permitir Modificar Total: <span class="badge" id="modtotals"></span></label>
	                 	<div class="input-group">
	                 		<select class="form-control form-control-sm" name="modtotal" id="modtotal">
	                 			{if="$gsc->getValor('modtotal') != ''"}
	                 				<option value="1" {if="$gsc->getValor('modtotal') == '1'"}selected{/if}>Si</option>
	                 				<option value="0" {if="$gsc->getValor('modtotal') == '0'"}selected{/if}>No</option>
	                 			{else}
	                 				<option value="1">Si</option>
	                 				<option value="0" selected>No</option>
	                 			{/if}
	                 		</select>
	                    	<button class="btn btn-success btn-sm" onclick="guadar_parametrizacion('modtotal', 'modtotals')" type="button" id="modtotal"><i class="bi bi-check2-square"></i></button>
	                 	</div>
	              	</div>
	           	</div>
	           	<div class="col-sm-3">
	              	<div class="form-group">
	                 	<label for="reimpresion" class="col-form-label">Permitir Reimpresion de Tickets: <span class="badge" id="reimpresions"></span></label>
	                 	<div class="input-group">
	                 		<select class="form-control form-control-sm" name="reimpresion" id="reimpresion">
	                 			{if="$gsc->getValor('reimpresion') != ''"}
	                 				<option value="1" {if="$gsc->getValor('reimpresion') == '1'"}selected{/if}>Si</option>
	                 				<option value="0" {if="$gsc->getValor('reimpresion') == '0'"}selected{/if}>No</option>
	                 			{else}
	                 				<option value="1" selected>Si</option>
	                 				<option value="0">No</option>
	                 			{/if}
	                 		</select>
	                    	<button class="btn btn-success btn-sm" onclick="guadar_parametrizacion('reimpresion', 'reimpresions')" type="button" id="reimpresion"><i class="bi bi-check2-square"></i></button>
	                 	</div>
	              	</div>
	           	</div>
	           	<div class="col-sm-3">
	              	<div class="form-group">
	                 	<label for="mtipodoc" class="col-form-label">Mostrar Tipo de Documento: <span class="badge" id="mtipodocs"></span></label>
	                 	<div class="input-group">
	                 		<select class="form-control form-control-sm" name="mtipodoc" id="mtipodoc">
	                 			{if="$gsc->getValor('mtipodoc') != ''"}
	                 				<option value="1" {if="$gsc->getValor('mtipodoc') == '1'"}selected{/if}>Si</option>
	                 				<option value="0" {if="$gsc->getValor('mtipodoc') == '0'"}selected{/if}>No</option>
	                 			{else}
	                 				<option value="1" selected>Si</option>
	                 				<option value="0">No</option>
	                 			{/if}
	                 		</select>
	                    	<button class="btn btn-success btn-sm" onclick="guadar_parametrizacion('mtipodoc', 'mtipodocs')" type="button" id="mtipodoc"><i class="bi bi-check2-square"></i></button>
	                 	</div>
	              	</div>
	           	</div>
	           	<div class="col-sm-3">
	              	<div class="form-group">
	                 	<label for="autorizacion" class="col-form-label">Autorizar Documento: <span class="badge" id="autorizacions"></span></label>
	                 	<div class="input-group">
	                 		<select class="form-control form-control-sm" name="autorizacion" id="autorizacion">
	                 			{if="$gsc->getValor('autorizacion') != ''"}
	                 				<option value="1" {if="$gsc->getValor('autorizacion') == '1'"}selected{/if}>Si</option>
	                 				<option value="0" {if="$gsc->getValor('autorizacion') == '0'"}selected{/if}>No</option>
	                 			{else}
	                 				<option value="1">Si</option>
	                 				<option value="0" selected>No</option>
	                 			{/if}
	                 		</select>
	                    	<button class="btn btn-success btn-sm" onclick="guadar_parametrizacion('autorizacion', 'autorizacions')" type="button" id="autorizacion"><i class="bi bi-check2-square"></i></button>
	                 	</div>
	              	</div>
	           	</div>
	        </div>
	        <div class="row">
		    	<div class="col-sm-3">
	              	<div class="form-group">
	                 	<label for="mosmenu" class="col-form-label">Mostrar Menú (Imagenes): <span class="badge" id="mosmenus"></span></label>
	                 	<div class="input-group">
	                 		<select class="form-control form-control-sm" name="mosmenu" id="mosmenu">
	                 			{if="$gsc->getValor('mosmenu') != ''"}
	                 				<option value="1" {if="$gsc->getValor('mosmenu') == '1'"}selected{/if}>Si</option>
	                 				<option value="0" {if="$gsc->getValor('mosmenu') == '0'"}selected{/if}>No</option>
	                 			{else}
	                 				<option value="1">Si</option>
	                 				<option value="0" selected>No</option>
	                 			{/if}
	                 		</select>
	                    	<button class="btn btn-success btn-sm" onclick="guadar_parametrizacion('mosmenu', 'mosmenus')" type="button" id="mosmenu"><i class="bi bi-check2-square"></i></button>
	                 	</div>
	              	</div>
	        	</div>
	    	</div>
	    </div>
    {/if}
</div>
{include="footer"}